* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'MS Trebuchet', sans-serif;
}

.cookie-banner {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100px;
    background-color: #000;
    opacity: 0.8;     
}

.cookie-container {
    margin: 1% auto;
    width: 70%;
    color: white;
}

.cookie-container p {
    font-size: 12px;
}

button {
    margin-top: 5px;
    padding: 3px;
    width: 60px;
}

