$bgcolor-light: #CCC;
$bgcolor-dark: #333;

@mixin transition($property) {
    -webkit-transition: $property;
    -moz-transition: $property;
    transition: $property;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: $bgcolor-dark;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100px;
    @include transition(all 0.5s ease-out);
}

.sticky {
    background-color: $bgcolor-light;
    position: fixed;
    height: 60px;
}

main {
    margin: auto;
    width: 600px;
    margin-top: 40px;
}
