#gallerywrapper {
	display: flex;
	flex-wrap: wrap;
}

#gallerywrapper img {
	justify-content: center;
	max-height: 200px;
	cursor: pointer;
}

#modal {
	position: fixed;
	top: 0;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	display: none;

	.modal-content {
		width: 70%;
		margin: 2% 15%;
		height: 95%;
		background-repeat: no-repeat;
		background-size: 100%;
	}
}

.close {
	float: right;
	font-weight: bold;
	color: #fff;
	font-size: 2rem;
	margin-right: 10px;
	cursor: pointer;
}

.caption {
	border: solid 1px #fff;
	position: absolute;
	bottom: 0px;
}
